:root {
    --branco-principal: #ffffff;
    --cinza-secundario: #c0c0c0;
    --botao-azul: #167BF7;
    --cor-de-fundo: #00030C;
    --fonte-principal: "inter";
    --botao-azul-efeito: #3c88e6;
}

body {
    background-color: var(--cor-de-fundo); /* chamar variavel */
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
}

.principal {
    background-image: url("img/Background.png"); /* imagem de fundo do projeto */
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50% 50%; /* separação dos objetos da div */
}

.container__botao {
    background-color: var(--botao-azul);
    border-radius: 5px;
    padding: 1em; /* em é uma outra unidade de medida referente à fonte */
    color: var(--branco-principal);
    display: block;
    text-decoration: none;
    margin-bottom: 1em; /* margin serve para cada uma das margens, desde vertical até horizontal */
}

.botao_secundario {
    background-color: transparent;
    border: 2px solid var(--branco-principal); /* colocar uma borda simples */
}

.container__aviso {
    font-size: 12px;
    color: var(--cinza-secundario);
}

.container__titulo {
    font-size: 26px;
    font-weight: 700;
}

.container__imagem {
    margin: 1em 0 1em 0;
}

.container__caixa {
    margin: 0 6em; /* serve para cima/baixo e direita/esquerda */
}

.secundario__imagem {
    width: 80%;
}

.secundario {
    align-items: center;
    margin: 0 10em;
}

.descricao__titulo {
    font-weight: 700;
    font-size: 48px;
    color: var(--branco-principal);
    margin-bottom: 0.1;
}

.descricao__texto {
    color: var(--cinza-secundario);
}

.secundario__botao {
    display: inline-block; /* aplica ao botão as margens dentro com o texto */
    margin-top: 1em;
}

.container__descricao {
    padding: 2em;
}

.dispositivos__lista {
    display: flex; /* ajusta os itens da lista (por padrão em linha) */
    justify-content: center;
    list-style-type: none; /* limpa os estilos da lista */
    margin: 5em 0;
}

.dispositivos {
    text-align: center; /* ajusta os itens em linha */
}

.dispositivos__titulo {
    font-size: 48px;
    color: var(--branco-principal);
}

.lista__item {
    font-size: 32px;
    color: var(--branco-principal);
}

.rodape {
    text-align: center;
    margin: 5em 3em;
}

.rodape__lista {
    display: flex; /* ajusta os itens da lista (por padrão em linha) */
    justify-content: center;
    list-style-type: none; /* limpa os estilos da lista */
    margin: 5em 0;
}

.lista__link a{ /* deve-se fazer referência a qual âncora se utiliza */
    text-decoration: none; 
    font-size: 16px;
    color: var(--branco-principal);
    margin-left: 1em;
}

.rodape__texto {
    margin: 1em 0;
    font-size: 14px;
    color: var(--cinza-secundario);
    margin: 2em 0;
}

.lista__link a:hover {
    color: var(--botao-azul);
}

.lista__link a:active { /* durante o clique */
    color: aquamarine;
}

.container__botao:hover{
    background-color: var(--botao-azul-efeito);
    color: var(--cor-de-fundo);
}